apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../base

namePrefix: prod-

commonLabels:
  app.kubernetes.io/instance: prod

patchesStrategicMerge:
  - deployment_set_environment.yaml
